{% extends "::base.html.twig" %}

{% block title %}HeticBundle:Etud:home{% endblock %}

{% block body %}
<h1>Weeeeeeeeeeeeeeeeeeeee</h1>


    {% for student in students %}
        <p>{{student.firstname}}</p>
    {% endfor %}
{% endblock %}



