{% extends "::base.html.twig" %}

{% block title %}HeticBundle:Etud:home{% endblock %}

{% block body %}
<h1>Weeeeeeeeeeeeeeeeeeeee</h1>
{% endblock %}


{#<ul>#}
    {#{% for student in students %}#}
        {#<li>{{ student.content }}</li>#}
    {#{% endfor %}#}
{#</ul>#}